* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: grid;
  height: 100%;
}

header {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 10px;
  align-self: start;
  margin-top: 50px;
  padding: 10px;
}

footer {
  display: grid;
  place-content: center;
  place-items: center;
  align-self: end;
  background-color: black;
  color: white;
  height: 100px;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 11px;
  font-size: small;
  display: block;
  width: 84px;
  text-align: center;
  line-height: 36px;
}

button {
  color: white;
  background-color: black;
  border-radius: 11px;
  font-size: small;
  font-size: small;
  width: 84px;
  text-align: center;
  height: 36px;
  border: 0;
}

p, h1 {
  text-align: center;
}