.main {
  display: grid;
  justify-items: start;
  place-content: center;
  align-self: start;
  gap: 15px;
  padding: 5px;
}

.table {
  width: 700px;
}

.tableTh {
  text-align: left;
}

@media screen and (max-width: 700px) {
  .table {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .table {
    width: 100%;
  }
}
